<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
       <add name="DataContext" connectionString="Data Source=sqlserver-others.database.windows.net;Initial Catalog=sqldb-pss-dev_2021-01-04T10-34Z;Persist Security Info=True;User ID=psssqlusr;Password=Usethis14now!;MultipleActiveResultSets=True;"


                                                                                     />

    </connectionStrings>
</configuration>